certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
idna
importlib-resources
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
Pillow
pyparsing
python-dateutil
requests
scipy
six
sympy
torch
torchvision
tqdm
typing_extensions
urllib3
zipp
